.account-button{
	margin-left:20px;
}
.first-navbar{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
hr{
	background-color: white;
}
.carousel-div{
	height: 465px;
}
.card-image-box{
	height: 250px;
}
.content-hr{
	background-color: black;
}